version: '3.8'

services:

  nginx:
    container_name: nginx
    build: 
      context: nginx
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - 5555:5555
      - 1935:1935
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf